@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-color: aqua;
    background-image: url(imagens/fundo-madeira.jpg);
    padding: 10px;
    position: relative;
    height: 100vh;
}

.links {
    display: grid;
    justify-content: end;
}

.redes {
    display: flex;
    justify-content: end;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: yellow;
    margin: 10px;
}

/* Personalização dos botões */

#home {
    background-image: url(imagens/logo-home.jpg);
    background-position: center;
    background-size: cover;
}

#youtube {
    background-image: url(imagens/logo-youtube.jpg);
    background-position: center;
    background-size: cover;
}

#github {
    background-image: url(imagens/logo-github.jpg);
    background-position: center;
    background-size: cover;
}

#twitter {
    background-image: url(imagens/logo-twitter.jpg);
    background-position: center;
    background-size: cover;
}

#instagram {
    background-image: url(imagens/logo-instagram.jpg);
    background-position: center;
    background-size: cover;
}

#facebook {
    background-image: url(imagens/logo-facebook.jpg);
    background-position: center;
    background-size: cover;
}

/* Tela do celular */

.celular {
    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

iframe {
    position: relative;
    top: 82px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section.links .redes:hover{
    border: 2px solid rgba(0, 0, 0, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 5pz rgba(0, 0, 0, 0.651);
    transition: transform .3s, border 1s;
}